<div class="flex gap-3">
  <div class="flex flex-column flex-auto align-self-center">
    <div class="flex align-items-center justify-content-center m-2">
      <img src="/assets/img/logo.png" class="mx-6" alt="brand logo">
    </div>

    <div class="flex flex-column align-items-center h-4rem">
      <span class="font-semibold text-base w-10 text-center">Boas-vindas ao Portal!</span>
      <span class="font-semibold text-base w-10 text-center">Para começar, qual seu email ou CPF?</span>
    </div>
    <div class="flex-initial flex align-items-center justify-content-center h-2rem">
      <span class="text-base w-5 text-center">Precisamos desta confirmação para dar início ao seu
        acesso.</span>
      </div>
    
      <div  class="m-6">
      <div class="flex field align-items-center justify-content-center ">
        <span class="w-6 p-input-icon-right">
          <label for="firstname1">Email ou CPF</label>
          <i class="pi pi-search"></i>
          <input id="firstname1" type="text" class="text-base text-color w-full">
        </span>
      </div>
      <div class="flex field align-items-center justify-content-center">
        <span class="w-6 p-input-icon-right">
          <label for="firstname1">Senha</label>
          <i class="pi pi-search"></i>
          <input id="firstname1" type="text" class="text-base text-color w-full">
        </span>
      </div>
    </div>

      <div class="flex field align-items-center justify-content-center h-4rem">
        <button pButton pRipple type="button" label="Acessar" class="p-button-success"> </button>
      </div>

  </div>
  <div class="flex-grow-1">
    <div class="bg-center">
      <img src="/assets/img/background.png" class="img-bg" alt="brand logo">
    </div>
  </div>
</div>