<div class="col-10 flex align-content-center">
  <p-chart type="doughnut" [data]="basicData" [options]=""></p-chart>
</div>

<div class="col-8 text-center">
  <div class="flex flex-column align-items-center gap-3">
    <div class="flex align-items-center">
      <span class="flex align-items-center gap-2">
        <i class="pi pi-circle-fill indicator-mensal"></i>
        <span class="font-medium">Contribuição mensal</span>
      </span>
    </div>
    <div class="flex align-items-center font-bold text-900" style="line-height: 0;">R$ 499.999,99</div>
  </div>
</div>
<div class="col-8 text-center">
  <div class="flex flex-column align-items-center gap-3">
    <div class="flex align-items-center">
      <span class="flex align-items-center gap-2">
        <i class="pi pi-circle-fill indicator-volunte"></i>
        <span class="font-medium">Contribuição voluntária</span>
      </span>
    </div>
    <div class="flex align-items-center font-bold text-900" style="line-height: 0;">R$ 499.999,99</div>
  </div>
</div>
